In [4]:
# Q1. For Loop : For loop is used when we want to process a collection. It is a collection processing loop.

# Example for loop :

# defining a list
lst = [2,4,1,6,3,8,4,65,0,6]

# using for loop
for i in lst:
    print(i)

2
4
1
6
3
8
4
65
0
6

In [5]:
# While Loop : While loop is used when we want to repeatedly execute the statements

#example of while loop :

i = 0

while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [6]:
# Q2. Sum and product of first 10 natural numbers

# using for loop

sum = 0 
pro = 1

for i in range(1,11):
    sum = sum + i
    pro = pro * i
print('Sum is', sum)
print('Product is', pro)

Sum is 55
Product is 3628800

In [7]:
# using while loop

i=1
sum = 0
pro = 1

while i<=10:
    sum = sum + i
    pro = pro * i
    i+=1
print('Sum is', sum)
print('Product is', pro)

Sum is 55
Product is 3628800

In [9]:
# Q3. Electricity bill of customer

units = int(input('Enter Units of Electricity consumed in a month: '))

if units>300:
    bill = (100*4.5) + (100*6) + (100*10) + ((units-300)*20)
elif units>200:
    bill = (100*4.5) + (100*6) + ((units-200)*10)
elif units>100:
    bill = (100*4.5) + ((units-100)*6)
else:
    bill = units * 4.5
    
bill

Enter Units of Electricity consumed in a month:  310

2250.0

In [10]:
# Q4. 

# using for loop
lst = list(range(1,101))
new_lst = []

for i in lst:
    cube = i**3
    if cube%4==0 or cube %5==0:
        new_lst.append(i)
new_lst

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [11]:
# using while loop

new_lst = []
i = 1

while i<=100:
    cube = i**3
    if cube%4==0 or cube %5==0:
        new_lst.append(i)
    i+=1
new_lst

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [12]:
# Q5.
string = 'I want to become a data scientist'

count = 0

for i in string:
    if i=='a' or i=='A' or i=='e' or i=='E' or i=='i' or i=='I' or i=='o' or i=='O' or i=='u' or i=='U':
        count = count + 1
count

12